* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    /* no se ve la barra de navegacion */
    scrollbar-width: none;
}

body {
    min-height: 100dvh;
    display: flex;
    /* background-color:cadetblue; */
}

a { 
    text-decoration: none;
}

img {
    width: 20%;
    object-fit: contain;
}